.navbar {
  background: #D17B1C;
  border-right: 3px solid black;
  padding: 10px; 
  &__form {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-evenly;
    min-height: 100vh;
    &__input {
      width: 80%; 
    }
    &__input-label {
      font-size: 40px;
      font-weight: bolder;  
      text-align: center;  
    }
    &__filters-label {
      font-size: 30px;
      text-align: center; 
      margin-bottom: 10px;  
    }
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    border-right: none; 
    border-bottom: 1px solid black; 
    // height:20vh; 
  }
  .navbar__form {
    min-height: auto;
    padding: 10px;   
    width: 100%; 
    justify-content: center; 
    align-items: center;
    &__input {
      width: 50%; 
    }
    &__input-label {
      margin-bottom: 10px; 
      font-size: 20px; 
      text-align: left; 
    }
    &__filters-label {
      margin-bottom: 10px; 
      margin-top: 10px; 
      font-size: 18px; 
    }
  }
}
